body {
  font-family: 'Roboto', sans-serif;
}

.body-suggestions {
  text-align: left;
  width: 95%;
}

.team-logo {
  height: 32px;
  width: 32px;
  margin-right: 5px;
  vertical-align: middle;
}

.container {
  position: "relative";
}

.avatar {
  height: 33px;
  width: 45px;
  padding-right: 10dp;
}

.refresh {
  display: "inline-block";
  position: "relative";
  color: green;
  font: 40px Impact;
}

.react-autosuggest__container {
  position: relative;
  align-content: center;
}

.react-autosuggest__input {
  width: 94%;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 98.9%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 100px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.modal {
  max-height: calc(100% - 200px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 8px;
  outline: none;
  background-color: white;
}

.modal:focus {
  outline: none;
}

.modal-div {
  width: 800px;
  height: 500px;
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal-player-avatar {
  flex: 0.2;
  width: 230px;
  height: 185px;
  margin-top: 20px;
  margin-left: 30px;
}

.modal-player-info-header {
  display: flex;
  flex: 0.8;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
}

.modal-player-info-header-full-name {
  font-size: 50px;
}

.modal-player-info-header-position {
  font-size: 20px;
}

.modal-stats-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.modal-stats-name {
  width: 20%;
  margin-right: auto;
  margin-left: 20px;
}

.modal-stats-result {
  width: 20%;
  margin-left: auto;
  margin-right: 30px;
  text-align: right;
}

.stats-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 55%;
}

.players-box {
  max-height: 780px;
  margin-top: 10px;
  overflow: auto;
}

.players-box::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
